@CHARSET "UTF-8";

body {bgcolor ="#ffffff";
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
}

table {
	border: 1px solid #CAD6E0 ";
	align:"center";
	cellpadding:"0";
	cellspacing:"0";
	width:"400";
}

tr{
}
.header {
	
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 18px;
}

.bottom {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	text-align: center;
	vertical-align: middle;
	color: #8E969D;
}