body {background-color:#ffffff;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
}

table {
	
	align:center;
	cellpadding:0;
	cellspacing:0;
	width:400;
}


.header {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 18px;
}

.bottom {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	text-align: center;
	vertical-align: middle;
	color: #8E969D;
}

.search{
	padding:3px;
	text-align:left;
}
.search td{
	padding:10px 5px 10px 5px;
}
.search select option{
	size:23px;
}